h1 {
    font-family: 'Oswald','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 8em;
    line-height: 110%;

    color: green;
    text-align: center;
    text-shadow: 1px 1px 0px black;
    margin-top: 1em;
}